

extends layout

block content
  h1 Dashboard
  p Total Students: #{dashboardData.total_students}
  p Total Bookings: #{dashboardData.total_bookings}
  p Total Hostels: #{dashboardData.total_hostels}
