

doctype html
html
  head
    title Hostel Management System
    link(rel='stylesheet', href='/css/style.css')

  body
    nav
      ul
        li
          a(href='/') Home
        li
          a(href='/available-rooms') Available Rooms
        li
          a(href='/room-status') Room Status
        li
          a(href='/dashboard') Dashboard
          

    block content
